<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <link href="./css/bootstrap.css"> -->
    <!-- <link href="./css/layout.bootstrap.css" -->
    <!-- <script src="./js/bootstrap.js"></script> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but upload-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
